* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.summary {
  margin-top: 50px;
  width: 600px;
  color: $color;
  .why {
    font-size: $font-size;
    font-weight: 200;
  }
  .code {
    font-size: $font-size;
    font-weight: 700;
  }
  p {
      margin-top: 20px;
  }
}

.ma-style{
    flex-flow : row wrap;
    justify-content: space-between;
}

.my-style{
    border: 0;
    img{
        width: 100%;
        height: 200px;
    }
}

@media screen and (min-width:458px) and (max-width:767px){
    .my-style{
        img{
            width: 100%;
            height: 500px;
        }
    }
}

@media screen and (max-width:458px){
    .my-style{
        img{
            display: none;
        }
    }
}